EmployeeMailUpdater/Service References/Sdk/TeleoptiCccSdkService18.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.ccc.teleopti.com/sdk/2012/09/" elementFormDefault="qualified" targetNamespace="http://schemas.ccc.teleopti.com/sdk/2012/09/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://teleoptiwfm-demo.teleopticloud.com/SDK/TeleoptiCccSdkService.svc?xsd=xsd0" namespace="http://schemas.ccc.teleopti.com/sdk/2010/04/" />
  <xs:import schemaLocation="https://teleoptiwfm-demo.teleopticloud.com/SDK/TeleoptiCccSdkService.svc?xsd=xsd8" namespace="http://schemas.ccc.teleopti.com/sdk/2011/07/" />
  <xs:import schemaLocation="https://teleoptiwfm-demo.teleopticloud.com/SDK/TeleoptiCccSdkService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="GetMultiplicatorDefinitionSetOvertimeDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q1:QueryDto">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="Period" nillable="true" type="q2:DateOnlyPeriodDto" />
          <xs:element minOccurs="0" name="TimeZoneId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LoadDeleted" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetMultiplicatorDefinitionSetOvertimeDto" nillable="true" type="tns:GetMultiplicatorDefinitionSetOvertimeDto" />
  <xs:complexType name="GetMultiplicatorDefinitionSetShiftAllowanceDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q3:QueryDto">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="Period" nillable="true" type="q4:DateOnlyPeriodDto" />
          <xs:element minOccurs="0" name="TimeZoneId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LoadDeleted" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetMultiplicatorDefinitionSetShiftAllowanceDto" nillable="true" type="tns:GetMultiplicatorDefinitionSetShiftAllowanceDto" />
  <xs:complexType name="GetMultiplicatorOvertimeQueryDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q5:QueryDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="LoadDeleted" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetMultiplicatorOvertimeQueryDto" nillable="true" type="tns:GetMultiplicatorOvertimeQueryDto" />
  <xs:complexType name="GetMultiplicatorShiftAllowanceQueryDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q6:QueryDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="LoadDeleted" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetMultiplicatorShiftAllowanceQueryDto" nillable="true" type="tns:GetMultiplicatorShiftAllowanceQueryDto" />
  <xs:complexType name="ArrayOfDefinitionSetDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DefinitionSetDto" nillable="true" type="tns:DefinitionSetDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDefinitionSetDto" nillable="true" type="tns:ArrayOfDefinitionSetDto" />
  <xs:complexType name="DefinitionSetDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.ccc.teleopti.com/sdk/2010/04/" base="q7:Dto">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="LayerCollection" nillable="true" type="tns:ArrayOfDefinitionSetLayerDto" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DefinitionSetDto" nillable="true" type="tns:DefinitionSetDto" />
  <xs:complexType name="ArrayOfDefinitionSetLayerDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DefinitionSetLayerDto" nillable="true" type="tns:DefinitionSetLayerDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDefinitionSetLayerDto" nillable="true" type="tns:ArrayOfDefinitionSetLayerDto" />
  <xs:complexType name="DefinitionSetLayerDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.ccc.teleopti.com/sdk/2010/04/" base="q8:LayerDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="MultiplicatorId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DefinitionSetLayerDto" nillable="true" type="tns:DefinitionSetLayerDto" />
</xs:schema>