EmployeeMailUpdater/Service References/Sdk/TeleoptiCccSdkService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.ccc.teleopti.com/sdk/2010/08/" elementFormDefault="qualified" targetNamespace="http://schemas.ccc.teleopti.com/sdk/2010/08/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://teleoptiwfm-demo.teleopticloud.com/SDK/TeleoptiCccSdkService.svc?xsd=xsd0" namespace="http://schemas.ccc.teleopti.com/sdk/2010/04/" />
  <xs:complexType name="AuthenticationResultDto">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="BusinessUnitCollection" nillable="true" type="q1:ArrayOfBusinessUnitDto" />
      <xs:element minOccurs="0" name="HasMessage" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
      <xs:element minOccurs="0" name="Tenant" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticationResultDto" nillable="true" type="tns:AuthenticationResultDto" />
</xs:schema>