EmployeeMailUpdater/Service References/Sdk/TeleoptiCccSdkService22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.ccc.teleopti.com/sdk/2011/01/" elementFormDefault="qualified" targetNamespace="http://schemas.ccc.teleopti.com/sdk/2011/01/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://teleoptiwfm-demo.teleopticloud.com/SDK/TeleoptiCccSdkService.svc?xsd=xsd0" namespace="http://schemas.ccc.teleopti.com/sdk/2010/04/" />
  <xs:complexType name="PublicNoteLoadOptionDto">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="LoadPerson" nillable="true" type="q1:PersonDto" />
      <xs:element xmlns:q2="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="LoadSite" nillable="true" type="q2:SiteDto" />
      <xs:element xmlns:q3="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="LoadTeam" nillable="true" type="q3:TeamDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PublicNoteLoadOptionDto" nillable="true" type="tns:PublicNoteLoadOptionDto" />
  <xs:complexType name="ArrayOfPublicNoteDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PublicNoteDto" nillable="true" type="tns:PublicNoteDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPublicNoteDto" nillable="true" type="tns:ArrayOfPublicNoteDto" />
  <xs:complexType name="PublicNoteDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.ccc.teleopti.com/sdk/2010/04/" base="q4:Dto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Date" nillable="true" type="q4:DateOnlyDto" />
          <xs:element minOccurs="0" name="Person" nillable="true" type="q4:PersonDto" />
          <xs:element minOccurs="0" name="ScheduleNote" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PublicNoteDto" nillable="true" type="tns:PublicNoteDto" />
</xs:schema>