EmployeeMailUpdater/Service References/Sdk/TeleoptiCccSdkService14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.ccc.teleopti.com/sdk/2014/04/" elementFormDefault="qualified" targetNamespace="http://schemas.ccc.teleopti.com/sdk/2014/04/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://teleoptiwfm-demo.teleopticloud.com/SDK/TeleoptiCccSdkService.svc?xsd=xsd8" namespace="http://schemas.ccc.teleopti.com/sdk/2011/07/" />
  <xs:import schemaLocation="https://teleoptiwfm-demo.teleopticloud.com/SDK/TeleoptiCccSdkService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://teleoptiwfm-demo.teleopticloud.com/SDK/TeleoptiCccSdkService.svc?xsd=xsd0" namespace="http://schemas.ccc.teleopti.com/sdk/2010/04/" />
  <xs:complexType name="GetAllRolesQueryDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q1:QueryDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="LoadDeleted" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAllRolesQueryDto" nillable="true" type="tns:GetAllRolesQueryDto" />
  <xs:complexType name="GetPersonRolesQueryDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q2:QueryDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="PersonId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetPersonRolesQueryDto" nillable="true" type="tns:GetPersonRolesQueryDto" />
  <xs:complexType name="GetSkillDaysByPeriodQueryDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q3:QueryDto">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="Period" nillable="true" type="q4:DateOnlyPeriodDto" />
          <xs:element minOccurs="0" name="TimeZoneId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSkillDaysByPeriodQueryDto" nillable="true" type="tns:GetSkillDaysByPeriodQueryDto" />
  <xs:complexType name="ArrayOfPersonSkillDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonSkillDto" nillable="true" type="tns:PersonSkillDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonSkillDto" nillable="true" type="tns:ArrayOfPersonSkillDto" />
  <xs:complexType name="PersonSkillDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.ccc.teleopti.com/sdk/2010/04/" base="q5:Dto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" name="Proficiency" type="xs:double" />
          <xs:element minOccurs="0" name="SkillId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonSkillDto" nillable="true" type="tns:PersonSkillDto" />
  <xs:complexType name="GrantPersonRoleCommandDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q6:CommandDto">
        <xs:sequence>
          <xs:element name="PersonId" type="ser:guid" />
          <xs:element name="RoleId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GrantPersonRoleCommandDto" nillable="true" type="tns:GrantPersonRoleCommandDto" />
  <xs:complexType name="RevokePersonRoleCommandDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q7:CommandDto">
        <xs:sequence>
          <xs:element name="PersonId" type="ser:guid" />
          <xs:element name="RoleId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RevokePersonRoleCommandDto" nillable="true" type="tns:RevokePersonRoleCommandDto" />
  <xs:complexType name="ArrayOfRoleDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoleDto" nillable="true" type="tns:RoleDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoleDto" nillable="true" type="tns:ArrayOfRoleDto" />
  <xs:complexType name="RoleDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.ccc.teleopti.com/sdk/2010/04/" base="q8:Dto">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RoleDto" nillable="true" type="tns:RoleDto" />
</xs:schema>