EmployeeMailUpdater/Service References/Sdk/TeleoptiCccSdkService17.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.ccc.teleopti.com/sdk/2010/10/" elementFormDefault="qualified" targetNamespace="http://schemas.ccc.teleopti.com/sdk/2010/10/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://teleoptiwfm-demo.teleopticloud.com/SDK/TeleoptiCccSdkService.svc?xsd=xsd0" namespace="http://schemas.ccc.teleopti.com/sdk/2010/04/" />
  <xs:import schemaLocation="https://teleoptiwfm-demo.teleopticloud.com/SDK/TeleoptiCccSdkService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ScheduleLoadOptionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoadAll" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="LoadPerson" nillable="true" type="q1:PersonDto" />
      <xs:element xmlns:q2="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="LoadSite" nillable="true" type="q2:SiteDto" />
      <xs:element xmlns:q3="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="LoadTeam" nillable="true" type="q3:TeamDto" />
      <xs:element minOccurs="0" name="SpecialProjection" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScheduleLoadOptionDto" nillable="true" type="tns:ScheduleLoadOptionDto" />
  <xs:complexType name="PersonPeriodLoadOptionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoadAll" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonPeriodLoadOptionDto" nillable="true" type="tns:PersonPeriodLoadOptionDto" />
  <xs:complexType name="ArrayOfPersonPeriodDetailDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonPeriodDetailDto" nillable="true" type="tns:PersonPeriodDetailDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonPeriodDetailDto" nillable="true" type="tns:ArrayOfPersonPeriodDetailDto" />
  <xs:complexType name="PersonPeriodDetailDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.ccc.teleopti.com/sdk/2010/04/" base="q4:Dto">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContractId" type="ser:guid" />
          <xs:element minOccurs="0" name="ContractScheduleId" type="ser:guid" />
          <xs:element minOccurs="0" name="ExternalLogOn" nillable="true" type="q4:ArrayOfExternalLogOnDto" />
          <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartTimePercentageId" type="ser:guid" />
          <xs:element minOccurs="0" name="PersonId" type="ser:guid" />
          <xs:element minOccurs="0" name="StartDate" nillable="true" type="q4:DateOnlyDto" />
          <xs:element minOccurs="0" name="Team" nillable="true" type="q4:TeamDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonPeriodDetailDto" nillable="true" type="tns:PersonPeriodDetailDto" />
</xs:schema>