EmployeeMailUpdater/Service References/Sdk/TeleoptiCccSdkService19.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Teleopti.Ccc.Sdk.Common.DataTransferObject.Commands" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Teleopti.Ccc.Sdk.Common.DataTransferObject.Commands" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://teleoptiwfm-demo.teleopticloud.com/SDK/TeleoptiCccSdkService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://teleoptiwfm-demo.teleopticloud.com/SDK/TeleoptiCccSdkService.svc?xsd=xsd0" namespace="http://schemas.ccc.teleopti.com/sdk/2010/04/" />
  <xs:import schemaLocation="https://teleoptiwfm-demo.teleopticloud.com/SDK/TeleoptiCccSdkService.svc?xsd=xsd8" namespace="http://schemas.ccc.teleopti.com/sdk/2011/07/" />
  <xs:complexType name="DeletePersonAccountForPersonCommandDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q1:CommandDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="AbsenceId" type="ser:guid" />
          <xs:element xmlns:q2="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="DateFrom" nillable="true" type="q2:DateOnlyDto" />
          <xs:element minOccurs="0" name="PersonId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeletePersonAccountForPersonCommandDto" nillable="true" type="tns:DeletePersonAccountForPersonCommandDto" />
  <xs:complexType name="SetPersonAccountForPersonCommandDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.ccc.teleopti.com/sdk/2011/07/" base="q3:CommandDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="AbsenceId" type="ser:guid" />
          <xs:element minOccurs="0" name="Accrued" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="BalanceIn" nillable="true" type="xs:long" />
          <xs:element xmlns:q4="http://schemas.ccc.teleopti.com/sdk/2010/04/" minOccurs="0" name="DateFrom" nillable="true" type="q4:DateOnlyDto" />
          <xs:element minOccurs="0" name="Extra" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="PersonId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetPersonAccountForPersonCommandDto" nillable="true" type="tns:SetPersonAccountForPersonCommandDto" />
</xs:schema>